{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formula Names</title>
</head>

<body>

    <h1>{{ title }}</h1>

    {% if request.resolver_match.url_name == 'final_velocity1' %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Calculate Final Velocity</button>
        </form>
        <p>Final Velocity: {{ param2 }}</p>
    {% endif %}

    {% if request.resolver_match.url_name == 'final_velocity2' %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Calculate Final Velocity</button>
        </form>
        <p>Final Velocity: {{ param2 }}</p>
    {% endif %}

    {% if request.resolver_match.url_name == 'displacement' %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Calculate Displacement</button>
        </form>
        <p>Displacement: {{ param2 }}</p>
    {% endif %}

    {% if request.resolver_match.url_name == 'energy_light' %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Calculate Energy</button>
        </form>
        <p>Energy of light: {{ param2|stringformat:".3e" }}</p>
    {% endif %}

    {% if request.resolver_match.url_name == 'time_flight' %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Calculate Time</button>
        </form>
        <p>Time of flight of an object in a projectile: {{ param2 }}</p>
    {% endif %}

    {% if request.resolver_match.url_name == 'max_height' %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Calculate Maximum Height</button>
        </form>
        <p>Maximum height of an object in a projectile: {{ param2 }}</p>
    {% endif %}

    {% if request.resolver_match.url_name == 'horizontal_range' %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Calculate Range</button>
        </form>
        <p>Horizontal range of an object in projectile: {{ param2 }}</p>
    {% endif %}

    {% if request.resolver_match.url_name == 'par_plate_capacitance' %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Calculate Capacitance</button>
        </form>
        <p>Capacitance of parallel plate capacitor: {{ param2|stringformat:".2e" }}</p>
    {% endif %}

    {% if request.resolver_match.url_name == 'half_life' %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Calculate Half Life</button>
        </form>
        <p>Half life of an atom: {{ param2|stringformat:".2e" }}</p>
    {% endif %}
    
    {% if request.resolver_match.url_name == 'kinetic_energy' %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Calculate Kinetic Energy</button>
        </form>
        <p>Kinetic Energy: {{ param2}}</p>
    {% endif %}
    
    {% if request.resolver_match.url_name == 'capacitor_pot_energy' %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Calculate Potential Energy</button>
        </form>
        <p>Potential Energy of a Capacitor: {{ param2|stringformat:".2e"}}</p>
    {% endif %}

    {% if request.resolver_match.url_name == 'gravitational_pot_energy' %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Gravitational Potential Energy</button>
        </form>
        <p>Gravitational Potential Energy: {{ param2}}</p>
    {% endif %}

    
    {% if request.resolver_match.url_name == 'ohm_law' %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Find voltage</button>
        </form>
        <p>Ohm Voltage:{{param2|stringformat:".2e"}}</p>
    {% endif %}

    {% if request.resolver_match.url_name == 'snell_law' %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Find angle for medium 2</button>
        </form>
        <p>Incident Angle of Medium 2:{{param2}}</p>
    {% endif %}

    {% if request.resolver_match.url_name == 'emf_conductor' %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Find emf</button>
        </form>
        <p>EMF of a conductor:{{param2}}</p>
    {% endif %}

    {% if request.resolver_match.url_name == 'coulomb_law' %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Find force</button>
        </form>
        <p>Electrostatic Force:{{param2|stringformat:".3e"}}</p>
    {% endif %}

    {% if request.resolver_match.url_name == 'grav_law' %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Find force</button>
        </form>
        <p>Gravitational Force:{{param2|stringformat:".3e"}}</p>
    {% endif %}
    
    {% if request.resolver_match.url_name == 'centripetal_force' %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Find force</button>
        </form>
        <p>Centripetal Force:{{param2}}</p>
    {% endif %}

    {% if request.resolver_match.url_name == 'focal_length' %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Find force</button>
        </form>
        <p>Focal Length:{{param2|floatformat:2}}</p>
    {% endif %}

    {% if request.resolver_match.url_name == 'einstein_eq' %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Find energy</button>
        </form>
        <p>Energy of an atom:{{param2|stringformat:".1e"}}</p>
    {% endif %}
    
    {% if request.resolver_match.url_name == 'resistivity' %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Find resistivity</button>
        </form>
        <p>Resistivity of a conductor:{{param2}}</p>
    {% endif %}
    
    {% if request.resolver_match.url_name == 'rotational_kinetic_energy' %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Find rotational kinetic energy</button>
        </form>
        <p>Rotational kinetic energy:{{param2}}</p>
    {% endif %}

    {% if request.resolver_match.url_name == 'work_energy_theorem' %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Calculate net work done</button>
        </form>
        <p>Net work done:{{param2}}</p>
    {% endif %}

    {% if request.resolver_match.url_name == 'net_internal_energy' %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Calculate net internal energy</button>
        </form>
        <p>Net internal energy:{{param2}}</p>
    {% endif %}
    
    {% if request.resolver_match.url_name == 'photon_momentum' %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Calculate momentum</button>
        </form>
        <p>Momentum of a photon:{{param2|stringformat:".2e"}}</p>
    {% endif %}

    {% if request.resolver_match.url_name == 'impedance_lcr' %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Calculate impedance</button>
        </form>
        <p>Impedance of LCR Circuit:{{param2|floatformat:2}}</p>
    {% endif %}

    {% if request.resolver_match.url_name == 'resonant_frequency' %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Calculate impedance</button>
        </form>
        <p>Resonant Frequency:{{param2|floatformat:2}}</p>
    {% endif %}

    {% if request.resolver_match.url_name == 'newton_force' %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Calculate force</button>
        </form>
        <p>Force:{{param2}}</p>
    {% endif %}

    {% if request.resolver_match.url_name == 'radioactivity_law' %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Calculate nuclei left</button>
        </form>
        <p>Number of nuclei left at time t:{{param2|floatformat:2}}</p>
    {% endif %}
</body>
</html>