<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total formulas</title>
</head>
<body>
    <h1>{{title}}</h1>
    {% if request.path == '/app1/final_velocity1/' %}
        <form method="POST" >
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Calculate Final Velocity</button>
        </form>
        <p>Final Velocity: {{param2}}</p>
    {% endif %}
        
    
    {% if request.path == '/app1/final_velocity2/' %}
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Calculate Final Velocity</button>
        </form>
       <p>Final Velocity: {{param2}}</p>
    {% endif %}

    {% if request.path == '/app1/displacement/' %}
        <form method="POST" action="/displacement/">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Calculate Displacement</button>
        </form>
        <p>Displacement: {{param2}}</p>
    {% endif %}
    
    {% if request.path == '/app1/energy_atom/' %}
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Calculate energy</button>
        </form>
       <p>Energy of an atom: {{param2|stringformat:".3e"}}</p>
    {% endif %}
        
    
    {% if request.path == '/app1/time_of_flight/' %}
        <form method="post" >
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Calculate time</button>
        </form>
        <p>Time of flight of an object in a projectile: {{param2}}</p>
    {% endif %}

    
    {% if request.path == '/app1/max_height/' %}
        <form method="post" >
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Calculate time</button>
        </form>
        <p>Maximum height of an object in a projectile: {{param2}}</p>
    {% endif %}

    
    {% if request.path == '/app1/horizontal_range/' %}
        <form method="post" >
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Click here</button>
        </form>
        <p>Horizontal range of an object in projectile: {{param2}}</p>
    {% endif %}

</body>
</html>
