<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Physics Formula</title>
</head>
<body>
    <h1>Physics Formula</h1>
    <form method="post">
        {% csrf_token %}
        <a href="final_velocity1/">Click here</a><br><br>
        <a href="final_velocity2/">Calculate velocity</a><br><br>
        <a href="displacement/">Calculate displacement here</a>
        <a href="energy_atom/">Calculate energy</a>
    </form>
</body>
</html>