{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Physics Formula</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    
    <h1>Physics Formula</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <article>
                <a href="{% url "final_velocity1" %}">Calculate final velocity(v2=u2+2as)</a>
            </article><br><br>
            <article>
                <a href="{% url "final_velocity2" %}">Calculate final velocity(v=u+at)</a>
            </article><br><br>
            <article>
                <a href="{% url "displacement" %}">Find displacement here</a>
            </article><br><br>
            <article>
                <a href="{% url "energy_light" %}">Calculate energy</a>
            </article><br><br>
            <article>
                <a href="{% url "time_flight" %}">Calculate time of flight</a>
            </article><br><br>
            <article>
                <a href="{% url "max_height" %}">Calculate max height</a>
            </article><br><br>
            <article>
                <a href="{% url "horizontal_range" %}">Calculate range here</a>
            </article><br><br>
            <article>
                <a href="{% url "par_plate_capacitance" %}">Calculate capacitance here</a>
            </article><br><br>
            <article>
                <a href="{% url "half_life" %}">Calculate half life</a>
            </article><br><br>
            <article>
                <a href="{% url "kinetic_energy" %}">Calculate kinetic energy</a>
            </article><br><br>
        </div>
    </form>
</body>
</html>