{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Physics Formula</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    
    <h1>Physics Formula</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <article>
                <a href="{% url "final_velocity1" %}"> Final velocity(v2=u2+2as)</a>
            </article><br><br>
            <article>
                <a href="{% url "final_velocity2" %}"> Final velocity(v=u+at)</a>
            </article><br><br>
            <article>
                <a href="{% url "displacement" %}">Displacement here</a>
            </article><br><br>
            <article>
                <a href="{% url "energy_light" %}"> Energy of a light</a>
            </article><br><br>
            <article>
                <a href="{% url "time_flight" %}"> Time of Flight</a>
            </article><br><br>
            <article>
                <a href="{% url "max_height" %}"> Max Height</a>
            </article><br><br>
            <article>
                <a href="{% url "horizontal_range" %}">Horizontal Range </a>
            </article><br><br>
            <article>
                <a href="{% url "par_plate_capacitance" %}">Parallel Plate Capacitance</a>
            </article><br><br>
            <article>
                <a href="{% url "half_life" %}"> Half Life of radioactive atom</a>
            </article><br><br>
            <article>
                <a href="{% url "kinetic_energy" %}"> Kinetic Energy</a>
            </article><br><br>
            <article>
                <a href="{% url "capacitor_pot_energy" %}"> Potential energy of a capacitor</a>
            </article><br><br>
             <article>
                <a href="{% url "gravitational_pot_energy" %}"> Gravitational Potential Energy</a>
            </article><br><br>
            <article>
                <a href="{% url "ohm_law" %}">Ohm's Law</a>
            </article><br><br>
            <article>
                <a href="{% url "snell_law" %}">Snell's Law</a>
            </article><br><br>
            <article>
                <a href="{% url "emf_conductor" %}">EMF of a Conductor</a>
            </article><br><br>
            <article>
                <a href="{% url "coulomb_law" %}">Coulomb's Law</a>
            </article><br><br>
            <article>
                <a href="{% url "grav_law" %}">Gravitational Law</a>
            </article><br><br>
            <article>
                <a href="{% url "centripetal_force" %}">Centripetal force</a>
            </article><br><br>
            <article>
                <a href="{% url "focal_length" %}">Thin Lens Equation</a>
            </article><br><br>
             <article>
                <a href="{% url "einstein_eq" %}">Einstein's Theory of Relativity</a>
            </article><br><br>
             <article>
                <a href="{% url "resistivity" %}">Resistivity of a Conductor</a>
            </article><br><br>
            <article>
                <a href="{% url "rotational_kinetic_energy" %}">Rotational Kinetic Energy</a>
            </article><br><br>
            <article>
                <a href="{% url "work_energy_theorem" %}">Work-Energy Theorem</a>
            </article><br><br>
            <article>
                <a href="{% url "net_internal_energy" %}">First Law of Thermodynamics</a>
            </article><br><br>
            <article>
                <a href="{% url "photon_momentum" %}">Momentum of a photon</a>
            </article><br><br>
        </div>
    </form>
</body>
</html>